{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">

    </style>
    <style type="text/css">
    .homecontent {
          
          position: absolute;
          left: 25%;
          width: 80%;
          margin-left: -15%;
          top: 35%;
          height: 80%;
          margin-top: -15%;
     }
    </style>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!-- Bootstrap CSS -->
    <title>miniUPS Website</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="{% static 'register/index.css' %}">
  </head>
<body style="background-color: #60342ab7">
  {% if message %}
  <div class="alert alert-danger" role="alert">
    {{ message}}
  </div>
  {% endif %}
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid" align="left">
      <a  class="pad15" ><img src = "/static/miniups.jpg" alt = "photo escaped" width = "50px" ></a>
      <a class="navbar-brand" href="#">Welcome to Mini-UPS, {{user.username}}</a>
      
      <!-- {% if user.is_authenticated %}
        <a class="nav-link" href="{% url 'register:package_list'%}">View Packages</a>
        <a href="{% url 'register:package_list'%}" class="btn btn-secondary">View Packages</a>
      {% endif %} -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="False" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav ms-auto">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register:package_list'%}">View Packages</a>
          </li>
          <li class="navbar-nav dropdown" >        
            <a class="nav-link dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"><img src = "/static/login_icon.png" alt = "photo escaped" width = "35px" >{{user.username}}</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'register:user_view_profile'%}">User Profile</a></li>
                <li><a class="dropdown-item" href="{% url 'register:user_edit_profile'%}">Edit Profile</a></li>
              </ul>            
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register:logout'%}">Logout</a>
          </li>
          {% else %}
          <!-- <li class="nav-item">
            <a class="nav-link" href="/track_package">Package Tracking</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link valign navbar-light" href="/register">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login"><img src = "/static/login_icon.png" alt = "photo escaped" width = "35px" >Login</a>
          </li>
          
    
          {% endif %}
        </ul>
      </div>

      
    </div>
  </nav>

<!--     
    {% if messages %}
              {% for msg in messages %}
                <div class="alert alert-{{ msg.tags }}">
                  {{ msg }}
                </div>
              {% endfor %}
            {% endif %} -->
    {% block content %}

    {% endblock %} 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  <!-- Optional Javascript -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
  <script>
    function moveImage_l_r(speed) {
      // Get the image element
      var img = document.getElementById("my-image");
      // Define the starting position of the image
      var pos = 0;
      // Define the animation function
      function animate_l_r() {
        // Increment the position of the image
        pos += speed;
        // Set the new position of the image
        img.style.left = pos + "px";
        // If the image has reached the right edge of the screen, reset its position to the left
        if (pos >= window.innerWidth) {
          pos = 0;
          return;
        }
        // Call the animation function again after a short delay
        setTimeout(animate_l_r, 10);
      }
      // Start the animation
      animate_l_r();
    }
    // Call the moveImage function with a speed of 5 pixels per frame
    moveImage_l_r(3);
  </script>
    <script>
      function moveImage_l_r(speed) {
      // Get the image element
      var img = document.getElementById("r_l_b");
      // Define the starting position of the image
      var pos = 0;
      // Define the animation function
      function animate_l_r() {
        // Increment the position of the image
        pos += speed;
        // Set the new position of the image
        img.style.right = pos + "px";
        // If the image has reached the right edge of the screen, reset its position to the left
        if (pos >= window.innerWidth) {
          pos = 0;
          return;
        }
        // Call the animation function again after a short delay
        setTimeout(animate_l_r, 10);
      }
      // Start the animation
      animate_l_r();
    }
    // Call the moveImage function with a speed of 5 pixels per frame
    moveImage_l_r(3);
    </script>
  <script>
      // Get the image element
      var img1 = document.getElementById("top_bottom_right");
      // Define the starting position and the speed of the animation
      var pos1 = 0;
      var speed1 = 3; // pixels per frame
      // Define the animation function
      function moveImage_t_b() {
        // Increment the position of the image
        pos1 += speed1;
        // Set the new position of the image
        img1.style.top = pos1 + "px";
        // If the image has reached the bottom of the screen, reset its position to the top
        if (pos1 >= window.innerHeight) {
          pos1 = 0;
          return;
        }
        // Call the animation function again after a short delay
        setTimeout(moveImage_t_b, 10);
      }
    // Start the animation
    moveImage_t_b();
  </script>
    <script>
 // Get the image element
 var img = document.getElementById("bottom_top_left");
// Define the starting position and the speed of the animation
var pos = 0;
var speed = 3; // pixels per frame
// Define the animation function
function moveImage() {
  // Decrement the position of the image
  pos += speed;
  // Set the new position of the image
  img.style.bottom = pos + "px";
  // If the image has reached the top edge of the screen, reset its position to the bottom
  if (pos >= window.innerHeight) {
    pos = 0;
    return;
  }
  // Call the animation function again after a short delay
  setTimeout(moveImage, 10);
}
// Start the animation
moveImage();
</script>

</head>
</html>
