{% extends 'register/listing_base.html' %}
{% block content %}
<h2 align = "center">User Profile</h2>

<section class="py-3">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action" >
            <div align="center">
              <img src = "/static/user.png" alt = "photo escaped" width = "100px">
            </div>
          </a>
          <a href="#" class="list-group-item list-group-item-action">Username: {{ user.username }}</a>
          <a href="#" class="list-group-item list-group-item-action">Email: {{ user.email }}</a>
        </div>
        <div class="row py-3" align = "center">
          <div class="col"><a href="{% url 'register:user_edit_profile' %}" class="btn btn-warning mr-3" style="width: 150px;">Edit Profile</a></div> 
          <div class="col"><a href="{% url 'register:homepage' %}" class="btn btn-secondary"style="width: 150px;">Return</a></div>
        </div>
      </div>
  </div>
</section>

{% endblock %}
